<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60482762914-deg4medli8rqg6i0crb2t1hjhdpiv1rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60482762914-deg4medli8rqg6i0crb2t1hjhdpiv1rt</string>
	<key>API_KEY</key>
	<string>AIzaSyAfPNeUQ8NSRpYn1uYX_R_f9f37HqQrSxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>60482762914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authlogin</string>
	<key>PROJECT_ID</key>
	<string>email-login-cd375</string>
	<key>STORAGE_BUCKET</key>
	<string>email-login-cd375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60482762914:ios:055f46266f919039bf7ffb</string>
</dict>
</plist>